@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root{
    --lightColor: #ebf0f3;
    --darkColor: #313131;
    --darkblueColor: #2d3272;
    --pinkColor: #ff6bb5;
    --purpleColor: #7a64c9; 
    --blueColor: #92b1f1;
    --greenColor: #02c778;
    --redColor: #FF0000;
}


/*animação*/
@keyframes ring {
    0%{
        border: 1px solid var(--pinkColor);
        box-shadow: 1px 5px 2px var(--pinkColor);
    }
    20%{
        border: 1px solid var(--purpleColor);
        box-shadow: 1px 5px 2px var(--purpleColor);
    }
    40%{
        border: 1px solid var(--darkblueColor);
        box-shadow: 1px 5px 2px var(--darkblueColor);
    }
    60%{
        border: 1px solid var(--darkblueColor);
        box-shadow: 1px 5px 2px var(--darkblueColor);
    }
    80%{
        border: 1px solid var(--purpleColor);
        box-shadow: 1px 5px 2px var(--purpleColor);
    }
    100%{
        border: 1px solid var(--pinkColor);
        box-shadow: 1px 5px 2px var(--pinkColor);
    }
}

*{
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at 50% -20.71%, #a4d8ec 0, #a7d7ef 6.25%, #abd6f1 12.5%, #b0d5f3 18.75%, #b5d3f4 25%, #bbd2f4 31.25%, #c1d0f4 37.5%, #c7cff3 43.75%, #cdcdf2 50%, #d3cbf0 56.25%, #d9caed 62.5%, #dec8ea 68.75%, #e3c7e7 75%, #e8c6e3 81.25%, #ecc5df 87.5%, #efc4da 93.75%, #f2c4d6 100%);
    width: 100vw;
    height: 100vh;
}

header{
    margin-top: 2vh;
    display: grid;
}

.logo{
    width: 13rem;
    justify-self: center;
}

main{
    display: flex;
    align-self: center;
    margin-top: 3rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 2.3rem;
}

.content .total-animate{
    font-size: 2rem;
    font-weight: 900;
    width: 21rem;
    height: 4rem;
    display: grid;
}

.total-animate .total-ring{
    width: 20rem;
    height: 3rem;
    border-radius: 2rem;
    padding: .5rem;
    position: absolute;
    animation: ring 2s linear infinite;
}

.total-animate .total{
    align-self: center;
    justify-self: center;
}
.content .protocol-animate{
    font-size: 2rem;
    font-weight: 900;
    width: 21rem;
    height: 4rem;
    display: grid;
}

.protocol-animate .protocol-ring{
    width: 20rem;
    height: 3rem;
    border-radius: 2rem;
    padding: .5rem;
    position: absolute;
    animation: ring 2s linear infinite;
}

.protocol-animate .protocol{
    align-self: center;
    justify-self: center;
}

.qr-code{
    padding: 1rem;
    background-color: #fff;
    border-radius: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.qr-code img{
    width: 25rem;
}

button {
    font-size: 1.2rem;
    border: none;
    outline: none;
    color: #fff;
    padding: 18px 32px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1),
    0 15px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: 0.3s;
    background-color: #02c778;
    margin-top: 2rem;
}

button:hover{
    background-color: #029b5d;
}

.money{
    align-items: end;
    justify-content: end;
    display: flex;
}

.money img{
    width: 35vw;
    padding: 2rem 0 2rem 10rem;
}

@media (max-width: 1665px){
    .money img{
        padding: 2rem 0 2rem 6rem;
    }
}

@media (max-width: 1470px){
    .money img{
        width: 32rem;
    }
}

@media (max-width: 1130px){
    .money img{
        padding: 2rem 0 2rem 4rem;
        width: 28rem;
    }
}

@media (max-width: 999px){
    .money img{
        display: none;
    }
}

@media (max-width: 550px){
    .qr-code{
        width: 80%;
    }
    .qr-code img{
        width: 100%;
    }
}
